:root {
    --grid-length: 800px;
    --squares-in-grid: 16;
    --square-length: calc(var(--grid-length) / 16);
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset {
    margin: 10px;
}

#container {
    border: 3px solid black;
    width: var(--grid-length);
    height: var(--grid-length);

    display: grid;
    grid-template-columns: repeat(var(--squares-in-grid), var(--square-length));
    grid-template-rows: repeat(var(--squares-in-grid), var(--square-length));

    background-color: black;
}

.box {
    margin: 0;
    padding: 0;

    background-color: white;
    opacity: 1;
}
