:root {
    --grid-length: 960px;
    --squares-in-grid: 16;
    --square-length: calc(960px / 16);
}


#container {
    width: var(--grid-length);
    height: var(--grid-length);

    display: grid;
    grid-template-columns: repeat(var(--squares-in-grid), var(--square-length));
    grid-template-rows: repeat(var(--squares-in-grid), var(--square-length));
}

.box {
    margin: 0;
    padding: 0;

    border: 1px solid black;
}