:root {
    --box-side: 30px;
}


#container {
    display: grid;
    grid-template-columns: repeat(16, var(--box-side));
    grid-template-rows: repeat(16, var(--box-side));
}

.box {
    margin: 0;
    padding: 0;

    height: var(--box-side);
    width: var(--box-side);
    border: 1px solid black;
}